@import "./../../../../styles";

mat-toolbar {
  font-family: $base-font;
  font-weight: bold;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  transition: font-size 0.1s linear;

  @media screen and (max-width: 767px) {
    font-size: 0.8rem;
  }

  a {
    height: 30px;
    
    img {
      width: 30px;
      height: 30px;
    }
  }
}
